venv
temp.py
migrations
tweet.db
alembic.ini
google.db
apple.db
microsoft.db
adobe.db
amazon.db
amd.db
intel.db
nvidia.db
tesla.db
meta.db
ibm.db
oracle.db
qualcomm.db
openai.db
accenture.db
databases.cursor/
